# Global settings
global:
  clusterName: "duploinfra-{{infraName}}"
  duploAuthUrl: ""
  AOSRegion: ""
  customerName: ""
  environment: ""
  namespace: ""
  namespaceFilter: ".*otel.*"
  release: "2.1.1"
  grafanaProxyUrl: ""
  slackWebhookUrl: ""
  oncallWebhookUrl: ""
  automationWebhookUrl: "http://duplo-automation:5000/alertmanager/webhook"
  cloud: ""
  duploReleaseBranch: "main"
  
# Grafana UI settings
grafanaUI:
  enabled: true
  replicas: 1
  image: "duplocloud/otel-dashboards"
  imageTag: ""
  resources:
    limits:
      cpu: "100m"
      memory: "512Mi"
    requests:
      cpu: "100m"
      memory: "512Mi"
  volume:
    size: "10Gi"
  nodeSelector: 
    allocationtags: duplo-observability
  plugins: "grafana-exploretraces-app,yesoreyeram-infinity-datasource,volkovlabs-form-panel"
  smtp:
    enabled: false
    config:
      host: ""
      port: "465"
      username: ""
      password: ""
      fromAddress: ""
      fromName: "Duplo AOS Alerts"
      starttlsPolicy: "MandatoryStartTLS"
  syntheticMonitoring:
    enabled: false
    config:
      gc_instance_id: ""
      gc_loki_host_id: ""
      gc_loki_url: ""
      gc_mimir_host_id: ""
      gc_mimir_url: ""
      gc_synthetic_monitoring_url: ""
      gc_token: ""

# Duplo Automation settings
duploAutomation:
  enabled: true
  replicas: 1
  image: "duplocloud/duplo-automation"
  imageTag: ""
  volume:
    size: "10Gi"
  nodeSelector: 
    allocationtags: duplo-observability

# AI Suite settings
aiSuite:
  enabled: false
  duplo_token: ""
  duplo_default_tenant: ""
  agent_name: ""
  agent_instance_id: ""

# Grafana Proxy settings
grafanaProxy:
  enabled: true
  replicas: 1
  image: "duplocloud/sso-proxy"
  imageTag: "v2.0.4-otel"
  resources:
    limits:
      cpu: "50m"
      memory: "128Mi"
    requests:
      cpu: "50m"
      memory: "128Mi"
  nodeSelector: 
    allocationtags: duplo-observability

# Secrets
secrets:
  grafanaUI:
    username: "duplocloud"
    password: ""
  gpgPassphrase: ""
  
# Integration Job settings
integrationJob:
  enabled: true
  image: "alpine/k8s"
  imageTag: "1.32.1"
  nodeSelector: 
    allocationtags: duplo-observability

# Observability Collector CronJob settings
observabilityCollector:
  enabled: true
  schedule: "0 0 * * *"
  image: "duplocloud/duplo-observability"
  imageTag: "stable"
  jobVersion: "2.1.0" 
  nodeSelector: 
    allocationtags: duplo-observability
  
# Grafana Cloud PDC settings
pdc:
  enabled: false
  config:
    gc_instance_id: ""
    gc_url: ""
    pdc_cluster: ""
    pdc_token: ""
    pdc_uid: ""
    api_key: ""
    aos_mimir_url: "http://duplo-metrics-nginx:80/prometheus"
  resources:
    limits:
      memory: 1Gi
    requests:
      cpu: 1
      memory: 1Gi
  image: "alpine/k8s"
  imageTag: "1.32.1"
  nodeSelector: 
    allocationtags: duplo-observability

# Tracing Healthcheck Configuration
tracing:
  healthcheck:
    port: 3200
    path: /ready

# Integration Job settings
otelValidationJob:
  enabled: true
  image: "alpine/k8s"
  imageTag: "1.32.1"
  nodeSelector: 
    allocationtags: duplo-observability
  

